[hidden],
[v-cloak] {
    display:none;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i { font-style: normal }

html, body {
    height: 100%;
    background: #333;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #eee;
    font-size: 16px;
}

body {
    font-size: 1rem;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 2rem;
}

small,
.small {
    font-size: 0.75rem;
}

.large {
    font-size: 2rem;
}

strong,
.strong {
    font-weight: 700;
}

h1,
h2,
h3,
p,
ul,
ol,
hr,
table {
    margin-bottom: 10px;
}

h1 {
    font-weight: 700;
}

.flat {
    margin-bottom: 0 !important;
}

a {
    color: var(--primary);
}
a.unstyled {
    color: black;
    text-decoration: none;
}

.disabled > * {
    opacity: 0.25;
    user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.logo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.logo__back {
    margin-right: 1rem;
    font-size: 1rem !important;
}

.logo__icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff655;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.logo__icon img {
    width: 1.5rem;
}

.island {
    padding: 10px;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid var(--border-color);
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

label small {
    color: #666;
    display: block;
}

.input {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    outline: 0;
    margin-bottom: 1rem;
    background: rgba(0,0,0,0.4);
    border: 0;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #fff655;
    color: #111;
    height: 2.25rem;
    line-height: 2.25rem;
    border-radius: 0.25rem;
    outline: 0;
    padding: 0 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn--primary {
    background: pink;
    color: white;
}

.actions {
    display: flex;
}

.actions .btn {
    flex: 1;
}

.container {
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    display: none;
}

.container > div {
    flex: 1;
}

.home {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fade {
    opacity: 0.5;
}

.visible {
    display: flex;
}

.results__title {
    display: none;
}

.results__title.visible {
    display: block;
}

.result {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.25px 0.5px rgba(0,0,0,0.25);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: #333;
    position: relative;
}

.result p:last-child {
    margin-bottom: 0;
}

.result__pin {
    width: 2.25rem;
    height: 2.25rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 0.25rem;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
}
